* {
  margin: 0;
  padding: 0;
}
body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.section {
  padding: 188px 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header start */
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px;
}
.header .container {
  display: flex;
}
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 24px 0;
}
.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  margin-left: 76px;
  align-items: center;
  gap: 40px;
}
.nav-list .nav-links {
  color: #2e2f42;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}
.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: 322px;
}
.contacts-iteam {
  display: flex;
}
.contacts-links {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}
.contacts-links:hover,
.contacts-links::after,
.contacts-links:focus {
  color: #404bbf;
}
/* hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  background-color: #2e2f42;
}
.hero-text {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  max-width: 496px;
  padding: auto;
  padding-top: 188px;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin-top: 48px;
  margin-bottom: 188px;
}
.button:hover,
.button:after,
.button:focus {
  background-color: #404bbf;
}
/* features */
.f-main-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
  margin: 120px 0;
}
.features-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-p {
  font-size: 16px;
  line-height: 1.5;
}
/* ourteam */

.teamcolor {
  background-color: #f4f4fd;
}
.ourteam-color {
  background-color: #ffffff;
  margin-bottom: 120px;
}

.ourteam-main-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.ourteamlist {
  display: flex;
  gap: 24px;
}
.ourteam-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
}
.ourteam-p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 32px;
}

/* portfolio */
.portfolio-main-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-p {
  color: #434455;
}
/* footer */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer .white {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
}
